:root {
    --color-darkest:  #0c0c0c;
    --color-midtone-dark: #252729;
    --color-midtone-light: #7a7272;
    --color-highlight: #d7d7d7;
    --color-alert: #be7474;
}

html {
    background-color: var(--color-midtone-dark);
}

* {
    color: var(--color-highlight);
}

/* Header Bar that is included from templating */
.header.bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 5vh;
    padding-left: 1em;
    border-top: 0;
    border-bottom: var(--color-darkest) 1px solid;
}

.header.bar > * {
    max-height: 100%;
}

.header.bar > .header.title {
    font-weight: bold;
    font-size: 1.4em;
    padding-left: 1em;
}
/* End of Header Bar that is included from templating */

/* Footer Bar that is included from templating */
.footer.bar {
    border-top: var(--color-darkest) 1px solid;
    text-align: right;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.2vh 1em;

}

.footer.bar > p {
    margin: 0;
}
/* End of Footer Bar that is included from templating */

/* Chat Message */
.message {
    display: flex;
    margin-top: 0.5em;
    margin-left: 1em;
}

.message > .content {
    display: inline;
    flex: 1;
    padding-left: 1em;
    font-size: 1.2em;
}

.message > .content > .body > img {
    display: inline;
    min-height: 2em;
    min-width: 2em;
    max-height: 23vh;
    max-width: 100%;
    cursor: pointer;
    transition: filter 0.3s ease;
    margin-top: 0.2em;
}

.message > .content > .body > img:hover {
    filter: brightness(120%); /* Makes image 20% brighter */
}

.message > .avatar {
    padding-left: 0.5em;
    width: 5em;
}

.message > .avatar > img {
    border: 1px solid var(--color-highlight);
}

.meta > .display.name {
    font-weight: bold;
    font-size: 1.1em;
}

.meta > .post.date {
    color: var(--color-midtone-light);
    font-style: italic;
    font-size: 0.8em;
    padding-left: 1.5em;
}

/* Chat message from system */
.system.message > .content {
    text-align: center;
}

.system.message > .content > .body > * {
    display: inline;
}

/* end of chat message */

/* Chat History */
.chat.history {
    display: block;
    height: 85vh;
    overflow-y: auto;
    width: 100%;
}

.chat.history > ul {
    padding: 0;
    padding-right: 1em;
    list-style-type: none;
}

.person, .important {
    font-weight: bold;
}

.verb, .important {
    color: var(--color-alert);
}
/* End of Chat History */

/* Group Chat Navigation */
.group.chat {
    padding-left: 1em;
}

.group.chat > li > a {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-midtone-light) !important; 
}

.group.chat > li > a:hover {
    color: color-mix(in srgb, var(--color-midtone-light), white 20%) !important; 
}

.group.chat > li > div > p {
    padding-left: 1em;
}

.group.chat > li > div > p:hover {
    cursor: pointer;
    color: color-mix(in srgb, var(--color-highlight), white 40%) !important; 
}
/* End of Group Chat Navigation */

/* Profile Widget */
.profile {
    display: flex;
}

.profile > .avatar {
    border-right: 1px solid var(--color-darkest);
    max-width: 33%;
}

.about {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about > .display.name {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
}

.about > .settings {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1em;
    display: flex;
}

.about > .settings > .first {
    margin-right: 1em;
}
/* end of Profile Widget */

/* Chat Input Field */
.input.form {
    display: flex;
}

.input.form > textarea {
    resize: none;
    flex-grow: 1;
    background-color: color-mix(in srgb, var(--color-midtone-dark), black 20%);
    border: none;
    height: 3vh;
    min-height: 1em;
    padding-top: 0.8vh;
    padding-left: 1em;
    font-size: 1.3em;
    margin: 0;
}

.input.form > button {
    width: 5em;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: var(--color-midtone-light);
    color: var(--color-highlight);
    transition: background-color 0.3s ease;
}

.input.form > button:hover{
    cursor: pointer;
}

.input.form > .send:hover {
    background-color: color-mix(in srgb, var(--color-midtone-light), white 40%);
    color: color-mix(in srgb, var(--color-highlight), white 40%);
}

.input.form > .send:active {
    background-color: color-mix(in srgb, var(--color-midtone-light), black 40%);
    color: color-mix(in srgb, var(--color-highlight), black 40%);
}

.input.form > .media.upload {
    background-color: color-mix(in srgb, var(--color-midtone-dark), black 20%);
}

.input.form > .media.upload:hover {
    background-color: color-mix(in srgb, var(--color-midtone-dark), white 20%);
    color: color-mix(in srgb, var(--color-highlight), white 40%);
}

.input.form > .media.upload:active {
    background-color: color-mix(in srgb, var(--color-midtone-dark), black 20%);
    color: color-mix(in srgb, var(--color-highlight), black 40%);
}
/* end of Chat Input Field */

/* Friend widget */
.friend {
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.friend:hover {
    background-color: color-mix(in srgb, var(--color-midtone-dark), white 20%);
    color: color-mix(in srgb, var(--color-highlight), white 40%);
    cursor: pointer;
}

.friend:active {
    background-color: color-mix(in srgb, var(--color-midtone-dark), black 20%);
    color: color-mix(in srgb, var(--color-highlight), black 40%);
    cursor: pointer;
}

.friend > .avatar > img {
    max-height: 10vh;
}

.friend > .about {
    padding-left: 1em;
}

.friend > .about > * {
    width: 100%;
}

.friend > .about > .display.name {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
}
/* End of friend widget */

/* Friends list */
ul.friends.list {
    list-style-type: none;
    padding: 1em;
}

ul.friends.list > li:not(:first-child) {
    margin-top: 0.25em;
}