.chimera.app {
    display: flex;
    height: 87vh;
}

.chatroom {
    flex-grow: 1;
}

.navigation {
    width: 60em;
}

.chat.select.label {
    text-align: center;
    margin-top: 1em;
}

/* Variable inherited from chimera-style.css */
.groups.and.friends {
    border-top: 1px solid var(--color-darkest);
}