body {
    background-color: darkslategray;
    height: 100vh;
}

* {
    color: white;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.thin {
    width: 25vw;
}

.wide{
    width: 75vw;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chat.area {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat.history {
    flex-grow: 1;
    overflow: scroll;
    overflow-x: hidden;
}

.chat.input {
    display: flex;
}

.chat.input.field {
    background-color: darkslategray;
    flex-grow: 1;
    min-height: 40px;
}